<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="${product.name}">Details produit</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
  </head>
  <body>
    <div th:replace="fragments/header :: header"></div>
    <main>
      <div class="product-details">
        <a th:href="@{/products}" class="back-link">Retour</a>

        <h1 th:text="${product.name}"></h1>
        <img th:src="@{'/images/' + ${product.image}}" alt="" width="100" />
        <p>
          <strong>Description: </strong>
          <span th:text="${product.description}"></span>
        </p>
        <p><strong>Prix: </strong><span th:text="${product.price}"></span></p>
      </div>
    </main>
  </body>
</html>
