<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inscription</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
  </head>
  <body>
    <div th:replace="fragments/header :: header"></div>
    <main>
      <div class="registration-form">
        <a th:href="@{/products}" class="back-link">Retour</a>
        <h2>Créer votre compte</h2>

        <form th:action="@{/register}" method="post" th:object="${user}">
          <div>
            <label for="username">Identifiant</label>
            <input type="text" name="username" id="*{username}" required />
          </div>

          <div>
            <label for="password">Mot de passe</label>
            <input type="password" name="password" id="password" required />
          </div>

          <div>
            <label for="confirmPassword">Confirmer le mot de passe</label>
            <input
              type="password"
              name="confirmPassword"
              id="confirmPassword"
            />
          </div>

          <div><button type="submit">S'inscrire</button></div>

          <!-- Affichage des erreurs -->
          <div th:if="${error}" class="error-message" th:text="${error}"></div>

          <!-- Affichage des succès -->
          <div
            th:if="${success}"
            class="success-message"
            th:text="${success}"
          ></div>
        </form>
      </div>
    </main>
  </body>
</html>
